# Praktikum 3: Manipulasi Data Tabular dengan Pandas

<a href="https://colab.research.google.com/github/pakizhan-ump/ml-umpontianak/blob/main/Modules/Week-02/Praktikum-02/Praktikum_3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## üéØ Tujuan Praktikum
Mahasiswa mampu menggunakan library **Pandas** untuk memuat, membersihkan, memanipulasi, dan menganalisis data dalam bentuk tabel (DataFrame).

## üìñ Dasar Teori
**Pandas** adalah library yang dibangun di atas NumPy, dirancang khusus untuk analisis dan manipulasi data terstruktur atau tabular. Dua struktur data utamanya adalah:
* **Series:** Sebuah array satu dimensi yang memiliki label (indeks). Ini bisa dianggap sebagai satu kolom dalam sebuah tabel.
* **DataFrame:** Struktur data dua dimensi seperti tabel pada spreadsheet atau database SQL. DataFrame terdiri dari baris dan kolom, di mana setiap kolomnya adalah sebuah Pandas Series.

Pandas sangat esensial untuk tahap *data cleaning*, *preprocessing*, dan *exploratory data analysis (EDA)* dalam alur kerja machine learning. Ia menyediakan fungsi-fungsi tingkat tinggi untuk membaca file (CSV, Excel), menangani data yang hilang (*missing values*), melakukan pengelompokan (*grouping*), dan seleksi data yang kompleks dengan mudah.

# üîß OPERASI FUNDAMENTAL PANDAS

In [2]:
import pandas as pd
import numpy as np

# 1. DATAFRAME CREATION

In [ ]:
print("=== DATAFRAME CREATION ===")
# From dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 70000, 55000],
    'Department': ['IT', 'HR', 'IT', 'Finance']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

# 2. ACCESS & INDEXING

In [ ]:
print("\n=== ACCESS & INDEXING ===")
print("Column 'Name':", df['Name'].tolist())
print("First row:\n", df.iloc[0])                    # By integer position
print("Rows 1-2:\n", df.iloc[1:3])
print("Filter Age > 28:\n", df[df['Age'] > 28])

# 3. ADD/REMOVE COLUMNS

In [ ]:

print("\n=== ADD/REMOVE COLUMNS ===")
df['Experience'] = [2, 5, 8, 3]                     # Add new column
df['Senior'] = df['Age'] > 30                       # Conditional column
df = df.drop('Experience', axis=1)                  # Remove column
print("After modifications:\n", df)

# 4. HANDLING MISSING VALUES

In [ ]:
print("\n=== MISSING VALUES ===")
df_with_na = df.copy()
df_with_na.loc[1, 'Salary'] = np.nan
df_with_na.loc[2, 'Age'] = np.nan

print("With missing values:\n", df_with_na)
print("Is null:\n", df_with_na.isnull())
print("Fill with mean:\n", df_with_na.fillna(df_with_na.mean()))

# 5. GROUPING & AGGREGATION

In [ ]:
print("\n=== GROUPING & AGGREGATION ===")
grouped = df.groupby('Department')
print("Grouped means:\n", grouped.mean())
print("Grouped description:\n", grouped['Salary'].describe())

# 6. SORTING

In [ ]:
print("\n=== SORTING ===")
df_sorted = df.sort_values('Salary', ascending=False)
print("Sorted by Salary:\n", df_sorted)

# 7. MERGING & JOINING

In [ ]:
print("\n=== MERGING ===")
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Eve'],
    'Bonus': [5000, 3000, 4000]
})
merged = pd.merge(df, df2, on='Name', how='left')
print("Merged DataFrame:\n", merged)

# 8. PIVOT TABLES

In [ ]:
print("\n=== PIVOT TABLES ===")
pivot = df.pivot_table(values='Salary', index='Department', aggfunc=['mean', 'count'])
print("Pivot table:\n", pivot)

# 9. DATETIME OPERATIONS

In [ ]:

print("\n=== DATETIME OPERATIONS ===")
dates = pd.date_range('20230101', periods=4)
df_dates = df.copy()
df_dates['Join_Date'] = dates
df_dates['Year'] = df_dates['Join_Date'].dt.year
print("With dates:\n", df_dates)

# 10. STRING OPERATIONS

In [ ]:
print("\n=== STRING OPERATIONS ===")
df['Name_Upper'] = df['Name'].str.upper()
df['Name_Length'] = df['Name'].str.len()
print("String operations:\n", df[['Name', 'Name_Upper', 'Name_Length']])

# üèãÔ∏è LATIHAN 3: OPERASI PANDAS UNTUK DATA ANALYSIS
### EXPLORATORY DATA ANALYSIS ###

In [ ]:
'''TODO: Analisis Dataset Retail'''
# Create sample retail dataset
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2023-03-31', freq='D')
retail_data = pd.DataFrame({
    'date': np.random.choice(dates, 1000),
    'product_id': np.random.randint(1, 11, 1000),
    'quantity': np.random.randint(1, 10, 1000),
    'price': np.random.uniform(10, 100, 1000),
    'customer_id': np.random.randint(1, 101, 1000)
})
retail_data['revenue'] = retail_data['quantity'] * retail_data['price']

# TODO 1: Hitung total revenue per product
revenue_per_product = # TODO

# TODO 2: Temukan top 5 customers berdasarkan total spending
top_customers = # TODO

# TODO 3: Analisis time series - revenue per hari
daily_revenue = # TODO

# TODO 4: Buat fungsi untuk detect anomalies dalam quantity
def detect_quantity_anomalies(df, threshold=2):
    # TODO: Detect anomalies using Z-score
    pass

anomalies = detect_quantity_anomalies(retail_data)

assert len(revenue_per_product) <= 10, "Should have max 10 products"
assert len(top_customers) == 5, "Should have top 5 customers"
print("‚úÖ Pandas operations completed")